*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.logo{
    color:#fff;
}
.navbar-custom{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgba(7,7,7,0.5);
}
/* ========end of the bar======== */
.hero{
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #000;
    /*======= there is a background details & background image=======*/
    background-image: url("child.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

/* ======= hero-heading section of the page ========*/
.hero-heading{
 font-size: 3.25rem;
 font-weight:  bold;
 line-height: 3.25rem;
 margin-bottom:  2rem;
 color: #fff;   
}
/*=======end of the hero section=======*/
.page-section h2.section-heading{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.page-section h3.section-heading{
    font-size: 1rem;
    font-weight: light;
    font-style: italic;
    margin-bottom: 4rem;
}
/*about section icons */
.about{
    padding: 10px 0 0 0;
}
.about .icon-boxes h3{
    font-size: 35px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}
.about .icon-box{
    margin-top: 40px;
}
.about .icon-box .icon{
    float: left;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #cc1c05;
    border-radius: 50px;
    transition: 0.5s;
}
.about .icon-box .icon i{
    color: #cc1c05;
    font-size: 32px;
}
.about .icon-box:hover .icon{
    background: #cc1c05;
    border-color: #cc1c05;
}
.about .icon-box:hover .icon i{
    color:#fff;
}
.about .icon-box .tittle{
 margin-left: 85px;
 font-weight: bold;
 margin-bottom: 10px;
 font-size: 18px;    
}
.about .icon-box .tittle a{
    color:#cc1c05;
    transition:0.3s;
}
.about .icon-box .tittle a:hover{
    color:#fff;
}
.about .icon-box .detail{
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
}
